<%= 'Testing infrastructure working!' %>

<h1> Let's BATTLE! </h1>
<h2> Who wants to play? </h2>
<form action = "names" method =post>
  <label for =player1_name>
    First player's name
    <input type =text name =player1_name>
  </label>
  <label for =player2_name>
    Second player's name
    <input type =text name =player2_name>
  </label>
  <input type =submit value =Submit>
</form>
