<h2> <%= @player1_name %> will play against <%= @player2_name %>! </h2>
(There will be blood...)

<h4> Eva's hit points: 100 </h4>

<form action = "attack" method =get>
<input type =submit value =Combat!!!>
</form>
